REACT_APP_SUPABASE_URL=
REACT_APP_SUPABASE_ANON_KEY=

REACT_APP_GEMINI_API_KEY=
GEMINI_API_KEY=
PORT=
 
# PiStorage Server Configuration
REACT_APP_PISTORAGE_URL=
REACT_APP_PISTORAGE_API_KEY=
REACT_APP_PISTORAGE_DEFAULT_FOLDER=
PISTORAGE_URL=
PISTORAGE_API_KEY=
PISTORAGE_DEFAULT_FOLDER=

# Beb URL Shortener Configuration
REACT_APP_BEB_URL=
REACT_APP_BEB_USER_ID=
BEB_URL=
BEB_USER_ID=
