.fc-day-today {
  background-color: var(--fc-button-bg-color)!important;
}

.fc-day-today .fc-daygrid-day-number {
  color: white!important;
}

.home {
  width: 100%;
  height: 100%;
}

.fc {
  max-width: 100vw;
  max-height: 100vh;
}

:root {
  --rating-1: #FF0000;
  --rating-2: #FF3300;
  --rating-3: #FF6600;
  --rating-4: #FF9900;
  --rating-5: #FFCC00;
  --rating-6: #FFFF00;
  --rating-7: #CCFF00;
  --rating-8: #99FF00;
  --rating-9: #66FF00;
  --rating-10: #33FF00;
  --rating-empty: var(--mdb-light-gray);
}

.form-range {
  --current-rating-color: var(--rating-5);
}

.form-range::-webkit-slider-thumb {
  background-color: var(--current-rating-color)!important;
}

.range .thumb::after {
  background-color: var(--current-rating-color)!important;
}

.thumb-value {
  color: var(--mdb-heading-color)!important;
}

.pointer-cursor {
  cursor: pointer;
}

.fc-h-event {
  border: none!important;
}

.fc-daygrid-bg-harness {
  color: black!important;
  overflow: hidden!important;
}

#textAreaExample {
  resize: none;
  height: 40vh!important;
  margin-bottom: 1rem;
}

.loading-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--fc-button-bg-color);
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

label[for="customRange2"] {
  margin-bottom: 0;
}

.badge-primary {
  background-color: black!important;
  color: white!important;
}

.add-custom-tracker-btn {
  color: var(--mdb-success);
  cursor: pointer;
}

.custom-tracker-trash-can {
  color: var(--mdb-danger);
  cursor: pointer;
}

.custom-tracker-modal-close-btn {
  margin-right: .5rem;
}

.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mt-half {
  margin-top: .125rem;
}